.grid{
    display: flex;
    flex:1;
    max-width: 960px;
    max-height: 960px;
    position:relative;
    
}

.row{
    display:flex;
    flex-direction: row;
    flex:1;
    color: red;
    border: 1px solid black;
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
    border:1px solid black;

    
}

.column:hover{
    background: grey;
}